<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WP_AutoPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WP_AutoPost.Properties.Settings>
            <setting name="id" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="bcnt" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tconn" serializeAs="String">
                <value />
            </setting>
            <setting name="tpost" serializeAs="String">
                <value />
            </setting>
            <setting name="wconn" serializeAs="String">
                <value />
            </setting>
            <setting name="wpost" serializeAs="String">
                <value />
            </setting>
            <setting name="sec" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="date" serializeAs="String">
                <value>2022-01-01</value>
            </setting>
            <setting name="radio" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="delay" serializeAs="String">
                <value>1</value>
            </setting>
        </WP_AutoPost.Properties.Settings>
    </userSettings>
</configuration>